/*
 *  filename: assets/scss/global.scss
 *  description: -
 **/

@import 'fonts.scss';

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    color: #fff;
    box-sizing: border-box;
    font-family: 'SpaceGrotesk-Regular';
}

body {
    min-height: 100vh;
    background: #000;
}

#root {
    display: flex;
    min-height: 100vh;
    width: 100%;
    flex-flow: column;
}
